*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    height: 50px;
    background-color: blue;
    color: azure;
}
.navbar ul{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    gap: 35rem;
}
.navbar ul li{
    list-style-type: none;
    justify-content: space-around;
    /* margin-top: 12px; */
    color: azure;
    text-decoration: none;
    text-decoration-line: none;
}
